body {
    font: 100 % sans-serif;
}

#aufgabenApp {
    padding: 1rem;
}

h2, h1 {
    font-size: 100%;
}

label {
    display: block;
}

ul {
    max-width: 22rem;
    list-style: none;
    padding-left: 0;
}

li {
    padding: 5px;
    border-radius: 4px;
    border: #a9e8e3 1px solid;
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

li p {
    margin: 0;
}

li button {
    border-radius: 4px;
    margin: 0 3px 0 0;
    color: #FFF;
}

.erledigtWechseln {
    margin-left: auto;
}

.loeschen {
    background-color: red;
}

.erledigtWechseln {
    background-color: blue;
}

.abgeschlossen .erledigtWechseln {
    background-color: green;
}

.abgeschlossen p {
    text-decoration: line-through;
}